.header {
    background: #ffffff;
    width: 100%;
    position: relative;
    align-items: center;
    justify-content: center;
    height: 150px;
    border-bottom: 1px solid #D7D7D7;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}
a{
    text-decoration: none;
}
.wrapper {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logoBlock{

}
.regBlock{
    background-color: black;
    color: white;
    margin: 0;

}
.h3_header{
    margin: 5px;
    padding-right: 15px;
}
.location{

    color: white;
    font-size: 15px;
    margin: 0;
}
.link_base{
    color: white;
    display: flex;
}
.othertxt{
    display: flex;
}
.icon_head{
    padding: 0 10px 0 10px;
}

